body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.auth-container-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background-color: #d9d9d9;
    padding: 80px;
    border-radius: 32px;
    text-align: center;
    width: 1000px;
    max-width: 95%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.auth-logo {
    width: 250px;
    height: 250px;
    margin-bottom: 32px;
    border-radius: 50%;
}

.auth-container h1 {
    font-size: 50px;
    margin-bottom: 32px;
    font-weight: bold;
}

.auth-input {
    display: block;
    width: 95%;
    max-width: 900px;
    padding: 18px;
    font-size: 32px;
    margin-bottom: 32px;
    border: 2px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
}

.auth-button {
    display: block;
    width: 95%;
    max-width: 900px;
    padding: 18px;
    font-size: 34px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #45a049;
}

.auth-link {
    display: block;
    border: none;
    width: 95%;
    max-width: 900px;
    padding: 18px;
    font-size: 34px;
    color: #555;
    background-color: #d9d9d9;
    font-weight: bold;
    transition: color 0.3s;
}

.auth-link:hover {
    color: #000;
}

.back-button {
    transition: background-color 0.3s ease;
}

.role-indicator {
    display: inline-block;
    background-color: #c0c0c0;
    padding: 16px 32px;
    font-size: 29px;
    font-weight: bold;
    border-radius: 16px;
    margin-bottom: 48px;
    border: none;
    cursor: default;
    color: #333;
}
